body 
{
    background-color:black;
    color:white;
}
h1
{
    color:white;
    font-family:Annie Use Your Telescope;
}
#ca
{
    background-color:#c3c3c3;
    border:.2vw white double;
}
#ans
{
    color:black;
    font-size:35px;
    font-style:italic;
    outline:none;
    font-family:Allerta Stencil;
}
i
{
    color:white;
#no
{
    width:100%;
    height:11vw;
    background-color:#000000;
    border-radius:34px;
    padding:10px;
    box-sizing:border-box;
    outline:none;
}
#bb
{
    border:2vw white double;
    font-family:Times New Roman;
    background:none;
    color:white;
}

@keyframes a{
            0%{
                transform:rotate(0deg);

            }
            50%{
                transform: rotate(180deg);
            }
            100%{
                transform: rotate(360deg);
        }
}
i
{

  
    text-align:center;
    font-family:Allerta Stencil;

}